*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: "Karla", sans-serif;
  min-width:363px ;
}

.nav{
  display: flex;
  align-items: center;
  color: #ffff;
  background: linear-gradient(to right, #672280,#a44dc7);
  padding: 0 1rem;
}

.trollface{
  width: 3rem;
  margin-right: 0.5rem;
}

.appform{
  padding: 1rem;
  display: grid;
  grid-gap: 1rem 0.5rem;
  grid-template-areas:
    'text1 text2'
    'butn  butn'
  ;
}

.inputs{
  height: 1.5rem;
}

.input1{
  grid-area: text1;
}
.input2{
  grid-area: text2;
}

.btn{
  background: linear-gradient(to right, #672280,#a44dc7);
  border: none;
  grid-area: butn;
  width: 100%;
  height: 2rem;
  font-size: 1.3rem;
  font-family: inherit;
  color: #ffff;
}
